.pageButtons{
    height: 11%;
    width: 85%;
    justify-content: end !important;
    gap: 2%;
    align-items: end !important;
}
.content{
    gap: 8px;
}
.pageButtons button{
    background-color: var(--secondary);
    border-radius: var(--radius);
    padding: 10px 20px;
    color: white;
    border: none;
    cursor: pointer;
}
